﻿
@{
    ViewBag.Title = "HttpError500";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h4 >Internal Server Error</h4>

    <div class="error-desc">
        The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br>
        You can go back to main page: <br><a href='@Url.Content("~/Home/Index")' class="btn btn-primary m-t">Home</a>
    </div>
</div>

