﻿
@{
    ViewBag.Title = "HttpError404";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}

<div class="middle-box text-center animated fadeInDown">
    <h1>404</h1>
    <h4 >Page Not Found</h4>

    <div class="error-desc">
        Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.<br />
        You can go back to main page: <br><a href='@Url.Content("~/Home/Index")' class="btn btn-primary m-t">Home</a>

    </div>
</div>
