﻿
@{
    ViewBag.Title = "HttpError403";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}


<div class="middle-box text-center animated fadeInDown">
    <h1>403</h1>
    <h4 >Forbidden</h4>

    <div class="error-desc">
        Sorry, You don't have permission to access/on this server.<br />
        You can go back to main page: <br><a href='@Url.Content("~/Home/Index")' class="btn btn-primary m-t">Home</a>

    </div>
</div>
