﻿<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />

</head>

<body class="gray-bg">
    @RenderBody()

    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>

</html>
