﻿<section id="features" class="container services wow fadeInUp animated">
    @if (ViewBag.Type == "Home")
	 {
    <h2 class="slogan">@Html.Raw(Resources.HomeSloganText)<br></h2>
	 <div class="box-column2">
			<div class="row">
				<div class="col-sm-4">
					 <div class="div-cube">
						  <div class="detail-box">
								<div class="detail-entry">
									 <a href="@Url.Action("Index", "CubeSoftware")">
										  <img class="div-cube-img" src="~/Images/CubeImages/Cubo blu.png" />
										  <h2>@Resources.CubeSoftware</h2>
									 </a>
									 <p>@Resources.CubeSoftwareDesc</p>
								</div>
						  </div>
					 </div>
				</div>
				<div class="col-sm-4">
					 <div class="div-cube">
						  <div class="detail-box">
								<div class="detail-entry">
									 <a href="@Url.Action("Index","CubeServices")">
										  <img class="div-cube-img" src="~/Images/CubeImages/Cubo-verde_piccolo.png" />
										  <h2>@Resources.CubeServices</h2>
									 </a>
									 <p>@Resources.CubeServicesDesc</p>
								</div>
						  </div>
					 </div>
				</div>
				<div class="col-sm-4">
					 <div class="div-cube">
						  <div class="detail-box">
								<div class="detail-entry">
									 <a href="@Url.Action("Index","Consulting")">
										  <img class="div-cube-img" src="~/Images/CubeImages/Cubo arancio.png" />
										  <h2>@Resources.Consulting</h2>
									 </a>
									 <p>@Resources.ConsultingDesc</p>
								</div>
						  </div>
					 </div>
				</div>
		  </div>
	</div>
	 }
    @if (ViewBag.Type == "CubeSoftware")
	 {
    <h2 class="slogan">@Html.Raw(Resources.CubeSoftwareSloganText)<br></h2>
    <div class="box-column3">
        <div class="row">
            <div class="col-sm-3">
                @*<div class="div-cube"><img src="~/Images/landing/grid.png" /></div>*@

                <div class="detail-box detail-cube">
                    <div class="detail-entry">
                        <a href="@Url.Content("~/CubeSoftware/CubeRiskManagementOverview")"><h2>@Resources.CubeRiskManagement</h2></a>
                        <p>@Resources.CubeRiskDesc</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @*<div class="div-cube"><img src="~/Images/landing/grid.png" /></div>*@
                <div class="detail-box detail-cube">
                    <div class="detail-entry">
                        <a href="@Url.Content("~/CubeSoftware/PortfolioCubeOverview")">
                            <h2>@Resources.PortfolioCube</h2>
                        </a>
                        <p>@Resources.PortfolioCubeDesc</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @*<div class="div-cube"><img src="~/Images/landing/grid.png" /></div>*@

                <div class="detail-box detail-cube">
                    <div class="detail-entry">
                        <a href="@Url.Content("~/CubeSoftware/CubePreTradeOverview")">
                            <h2>@Resources.CubePreTrade</h2>
                        </a>
                        <p>@Resources.CubePreTradeDesc</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                @*<div class="div-cube"><img src="~/Images/landing/grid.png" /></div>*@

                <div class="detail-box detail-cube">
                    <div class="detail-entry">
                        <a href="@Url.Content("~/CubeSoftware/OptionCubeOverview")">
                            <h2>@Resources.OptionCube</h2>
                        </a>
                        <p>@Resources.OptionCubeDesc</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	 }
    @if (ViewBag.Type == "CubeServices")
	 {
    <div class="row">
        <h2 class="slogan">@Html.Raw(Resources.CubeServicesSloganText)<br></h2>
        <div class="col-sm-3">
            @*<div class="div-cube"><img src="~/Images/landing/grid.png" /></div>*@

            <div class="detail-box detail-cube">
                <div class="detail-entry">
                    <a href="@Url.Content("~/CubeServices/CubeVolatilityOverview")"><h2>@Resources.CubeVolatility</h2></a>
                    <p>@Resources.CubeVolatilityDesc</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            @*<div class="div-cube"><img src="~/Images/landing/grid.png" /></div>*@

            <div class="detail-box detail-cube">
                <div class="detail-entry">
                    <a href="@Url.Content("~/CubeServices/CubeMarginsOverview")">
                        <h2>@Resources.CubeHMargins</h2>
                    </a>
                    <p>@Resources.CubeHMarginsDesc</p>
                </div>
            </div>

        </div>

        <div class="col-sm-3">
            @*<div class="div-cube"><img src="~/Images/landing/grid.png" /></div>*@

            <div class="detail-box detail-cube">
                <div class="detail-entry">
                    <a href="@Url.Content("~/CubeServices/CubeGreeksOverview")">
                        <h2>@Resources.CubeHGreeks</h2>
                    </a>
                    <p>@Resources.CubeHGreeksDesc</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            @*<div class="div-cube"><img src="~/Images/landing/grid.png" /></div>*@           
            <div class="detail-box detail-cube">
                <div class="detail-entry">
                    <a href="@Url.Content("~/CubeServices/CubeAPIMarginsOverview")">
                        <h2>@Resources.CubeAPIMargins</h2>
                    </a>
                    <p>@Resources.CubeAPIMarginsDesc</p>
                </div>
            </div>
        </div>
    </div>
	 }
    @if (ViewBag.Type == "Consulting")
	 {
    <h2 class="slogan">@Html.Raw(Resources.ConsultingSloganText)<br></h2>
	 <div class="box-column2">
		  <div class="row">
				<div class="col-sm-4">
					 <div class="detail-box detail-cube">
						  <div class="detail-entry">
								<a href="@Url.Content("~/Consulting/RiskManagementOutsourcing")">
									 <h2>@Resources.RiskManagementOutsourcing</h2>
								</a>
								<p>@Resources.ManagementOutsourcingDesc</p>
						  </div>
					 </div>
				</div>
				<div class="col-sm-4">
					 <div class="detail-box detail-cube">
						  <div class="detail-entry">
								<a href="@Url.Content("~/Consulting/RiskManagementConsulting")">
									 <h2>@Resources.RiskManagementConsulting</h2>
								</a>
								<p>@Resources.ManagementConsultingDesc</p>

						  </div>
					 </div>
				</div>
				<div class="col-sm-4">
					 <div class="detail-box detail-cube">
						  <div class="detail-entry">
								<a href="@Url.Content("~/Consulting/InvestmentAdvisory")">
									 <h2>@Resources.InvestmentAdvisory</h2>
								</a>
								<p>@Resources.InvestmentAdvisoryDesc</p>
						  </div>
					 </div>
				</div>
		  </div>
	 </div>
	 }
    @if (ViewBag.Type == "Download")
	 {
    <div class="row">
        <div class="col-sm-4">
            <a href="#"><h2>@Resources.WhitePaper</h2></a>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            <p><a class="navy-link" data-toggle="modal" href="#modal-form" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <a href="javascript:void(0)">
                <h2>@Resources.CaseStudies</h2>
            </a>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            <p><a class="navy-link" data-toggle="modal" href="#modal-form" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <a href="javascript:void(0)">
                <h2>@Resources.Howto</h2>
            </a>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
            <p><a class="navy-link" data-toggle="modal" href="#modal-form" role="button">Details &raquo;</a></p>
        </div>
    </div>
	 }
</section>
