﻿
<footer id="footer">
    <div class="container">
        <div class="footer-left-side">
            <nav class="" id="navMenuBottom" role="navigation">
               <div id="footer-nav" class="">
                        <ul class="footer-menu clear">
                            <li class="root">
										  <h3 class="widget-title">@Resources.AboutCubeFinance</h3>
                                @*<a href="@Url.Action("Company", "About")">@Resources.AboutCubeFinance</a>*@
                                <ul >
                                    <li>
                                        <a href="@Url.Content("~/About/Company")">@Resources.Company</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Content("~/About/OurTeam")">@Resources.OurTeam</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Content("~/About/Clients")">@Resources.LabelForClients</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Content("~/About/Portfolio")">@Resources.Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Content("~/About/Careers")">@Resources.Careers</a>

                                    </li>
                                    <li>
                                        <a href="@Url.Content("~/About/CustomerSupport")">@Resources.LabelForCustomerSupport</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Content("~/About/Security")">@Resources.Security</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="root">
                                @*<a href="@Url.Action("Index", "CubeSoftware")">@Resources.CubeSoftware</a>*@       
                                <h3 class="widget-title">@Resources.CubeSoftware</h3>                       
                                    <ul >
                                        <li>
                                            <a  href="@Url.Content("~/CubeSoftware/CubeRiskManagementOverview")">@Resources.CubeRiskManagement</a>                                          
                                        </li>
                                        <li>
                                            <a  href="@Url.Content("~/CubeSoftware/PortfolioCubeOverview")">@Resources.PortfolioCube</a>                                          
                                        </li>
                                        <li>
                                            <a  href="@Url.Content("~/CubeSoftware/OptionCubeOverview")">@Resources.OptionCube</a>                                           
                                        </li>
                                        <li>
                                            <a href="@Url.Content("~/CubeSoftware/CubePreTradeOverview")">@Resources.CubePreTrade</a>                                          
                                        </li>
                                    </ul>
                            </li>

                            <li class="root">
                                @*<a href="@Url.Action("Index", "CubeServices")">@Resources.CubeServices</a>*@    
                                <h3 class="widget-title">@Resources.CubeServices</h3>                             
                                <ul>
                                    <li>
                                        <a  href="@Url.Action("CubeVolatilityOverview", "CubeServices")">@Resources.CubeVolatility</a>                                     
                                    </li>
                                    <li>
                                        <a  href="@Url.Action("CubeMarginsOverview", "CubeServices")">@Resources.CubeHMargins</a>                                     
                                    </li>
                                    <li>
                                        <a  href="@Url.Action("CubeGreeksOverview", "CubeServices")">@Resources.CubeHGreeks</a>                                    
                                    </li>
                                    <li>
                                        <a  href="@Url.Action("CubeAPIMarginsOverview", "CubeServices")">@Resources.CubeAPIMargins</a>                                     
                                    </li>
                                </ul>
                            </li>

                            <li class="root">
                                @*<a href="@Url.Action("Index", "Consulting")">@Resources.Consulting</a>*@   
                                <h3 class="widget-title">@Resources.Consulting</h3>                            
                                <ul>
                                    <li>
                                        <a href="@Url.Content("~/Consulting/RiskManagementOutsourcing")">@Resources.RiskManagementOutsourcing</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Content("~/Consulting/RiskManagementConsulting")">@Resources.RiskManagementConsulting</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Content("~/Consulting/InvestmentAdvisory")">@Resources.InvestmentAdvisory</a>
                                    </li>
                                </ul>
                            </li>
                           
                        </ul>
                    </div>
            </nav>
        </div>
        <div class="footer-right-side">
            <div class="col-md-12">
                <div class="row">
                    <h3 class="widget-title">@Resources.ContactUs</h3>
                    <div class="textwidget">
                        <div class="box-main">
									 <p><i class="fa fa-mail-forward"></i><a href="@Url.Content("~/Home/ContactUs")">@Resources.ContactUs</a></p>
                            <p><i class="fa  fa-envelope"></i><a href="mailto:info@cubefinance.com">@Resources.CompanyEmail</a></p>
                            <p> <i class="fa fa-phone-square"></i>@Resources.CompanyPhone</p>
                            <p> <i class="fa fa-fax"></i>@Resources.CompanyFax</p>
                            <p> <i class="fa fa-globe"></i>@Resources.CompanyWebsite</p>
                        </div>
                        <div class="box-main">
                            <ul class="list-inline social-icon">
                                <li>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div><!--/ .textwidget-->
                </div><!--/ .widget -->
            </div><!--/ .columns-->
        </div>
        <div class="clear"></div>
        <div class="col-md-12">
            <div class="row">
                <div class="sixteen columns">
                    <div class="adjective clearfix">
                        <div class="copyright">@Html.Raw(Resources.CopyrightLabel)<a target="_blank" href="http://cubefinance.com/">@Resources.CompanyNameInfo</a> @Resources.AllRightsReservedLabel  |  @Html.Raw(Resources.CompanyAddressInfo) | <a  href="@Url.Content("~/Home/LegalNotice/")">@Resources.LegalNoticeLabel</a> | <a  href="@Url.Content("~/Home/PrivacyPolicy/")">@Resources.PrivacyLabel</a></div>
                    </div><!--/ .adjective-->
                </div><!--/ .columns-->
            </div>
        </div>
    </div><!--/ .container -->
</footer>







