﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-16x16.png">

    <title>Cube Finance</title>
   
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->

    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")

</head>
<body id="page-top" class="landing-page">
   
    @Scripts.Render("~/bundles/jquery")
    @*<script src="~/Scripts/jquery.themepunch.plugins.min.js"></script>*@
    @*<script src="~/Scripts/jquery-1.11.3.js"></script>*@

    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")
    @Scripts.Render("~/Scripts/Themepunch")

    @Html.Partial("_TopNavbar")

    @if (ViewBag.LagalPrivacy != true)
	 {

    @Html.Partial("_Slider")

    @Html.Partial("_Features")

	 }

    <!-- Top Navbar -->
    @*@Html.Action("TopMenus", "Home")*@


    <!-- Main view  -->
    <div class="page-wrapper" id="pageHeader">
        @RenderBody()
    </div>

    <!-- Footer  -->
    @Html.Partial("_Footer")

 
   
    <!-- End page wrapper-->
    <!-- Section for main scripts render -->
    <script src="~/Scripts/jquery.maskedinput.js"></script>
</body>
</html>

<script src="~/Scripts/CommanJs/CommanJSFunctions.js"></script>
<script data-pace-options='{ "ajax": false }' src='~/Scripts/plugins/pace/pace.min.js'></script>
<script type="text/javascript">
	 $(document).ready(function () {

	 	 if ('@ViewBag.LagalPrivacy' == 'True') {
	 	 	 $("#pageHeader").addClass('privacy');
	 	 }
	 });
</script>


