﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-16x16.png">

    <title>Cube Finance  | @ViewBag.Title</title>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/plugins/slimScroll")
    @Scripts.Render("~/bundles/inspinia")

    @Scripts.Render("~/bundles/skinConfig")

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <!-- Add jQuery Style direct - used for jQGrid plugin -->
    <link href="@Url.Content("~/Scripts/plugins/jquery-ui/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <!-- Primary Inspinia style -->
    @Styles.Render("~/font-awesome/css")
    @Styles.Render("~/Content/css")


    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</head>
<body>

    <!-- Wrapper-->
    <!-- PageClass give you ability to specify custom style for specific view based on action -->
    <!-- Navigation -->
    @*@Html.Partial("_Navigation")*@
    <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">
        <!-- Page wraper -->
        <!-- Top Navbar -->
        @*@Html.Partial("_TopNavbar_1")*@

        <!-- Main view  -->

        @RenderBody()

        <!-- Footer -->
        @Html.Partial("_Footer")

        <!-- End page wrapper-->
        <!-- Right Sidebar -->
        @Html.Partial("_RightSidebar")

    </div>

    <!-- End wrapper-->
    <!-- Skin config script - only for demo purpose-->
</body>
</html>
<script data-pace-options='{ "ajax": false }' src='~/Scripts/plugins/pace/pace.min.js'></script>
