﻿@using CubeToolsPublicSite.Helpers;
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element prcnter">
                    <span>
                        <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/Images/landing/cubepublic-logo.png")" alt="Cube Finance Logo" /></a>
                    </span>
                    @*@Html.Partial("_SetLanguage")*@

                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home")">
                <a title="Home" href="@Url.Action("Index", "Home")"><i><img class="side-nav-img" src="~/Images/CubeImages/Home.png" /></i> <span class="nav-label">@Resources.Home</span> <span class="fa arrow"></span></a>
            </li>

            <li class="@Html.IsSelected(controller: "About")">
                <a title="About Cube Finance" href="@Url.Action("Index", "About")"><i><img class="side-nav-img" src="~/Images/CubeImages/about.png" /></i> <span class="nav-label">@Resources.AboutCubeFinance</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Company")"><a href="@Url.Action("Company", "About")">@Resources.Company</a></li>
                    <li class="@Html.IsSelected(action: "OurTeam")"><a href="@Url.Action("OurTeam", "About")">@Resources.OurTeam</a></li>
                    @*<li class="@Html.IsSelected(action: "Expertise")"><a href="@Url.Action("Expertise", "About")">@Resources.Expertise</a></li>*@

                    <li class="@Html.IsSelected(action: "Clients")"><a href="@Url.Action("Clients", "About")">@Resources.LabelForClients</a></li>
                    <li class="@Html.IsSelected(action: "Portfolio")"><a href="@Url.Action("Portfolio", "About")">@Resources.Portfolio</a></li>
                    <li class="@Html.IsSelected(action: "Careers")"><a href="@Url.Action("Careers", "About")">@Resources.Careers</a></li>
                    <li class="@Html.IsSelected(action: "CustomerSupport")"><a href="@Url.Action("CustomerSupport", "About")">@Resources.LabelForCustomerSupport</a></li>
                    <li class="@Html.IsSelected(action: "Security")"><a href="@Url.Action("Security", "About")">@Resources.Security</a></li>
                </ul>

            </li>

            <li class="@Html.IsSelected(controller: "CubeSoftware")">
                <a title="Cube Software" href="@Url.Action("Overview", "CubeSoftware")"><i><img class="side-nav-img" src="~/Images/CubeImages/Cubo blu.png" /></i> <span class="nav-label">@Resources.CubeSoftware</span> <span class="fa arrow"></span></a>

                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "CubeRiskManagementOverview;CubeRiskManagementFeatures;Coverage;")">
                        <a href="@Url.Action("CubeRiskManagementOverview", "CubeSoftware")"><span class="nav-label">@Resources.CubeRiskManagement</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li class="@Html.IsSelected(action: "CubeRiskManagementOverview")"><a href="@Url.Action("CubeRiskManagementOverview", "CubeSoftware")">@Resources.Overview</a></li>
                            <li class="@Html.IsSelected(action: "CubeRiskManagementFeatures")"><a href="@Url.Action("CubeRiskManagementFeatures", "CubeSoftware")">@Resources.Features</a></li>
                            <li class="@Html.IsSelected(action: "Coverage")"><a href="@Url.Action("Coverage", "CubeSoftware")">@Resources.Coverage</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(action: "PortfolioCubeOverview;PortfolioCubeFeatures;")">
                        <a href="@Url.Action("PortfolioCubeOverview", "CubeSoftware")"><span class="nav-label">@Resources.PortfolioCube</span> <span class="fa arrow"></span> </a>
                        <ul class="nav nav-third-level">
                            <li class="@Html.IsSelected(action: "PortfolioCubeOverview")"><a href="@Url.Action("PortfolioCubeOverview", "CubeSoftware")">@Resources.Overview</a></li>
                            <li class="@Html.IsSelected(action: "PortfolioCubeFeatures")"><a href="@Url.Action("PortfolioCubeFeatures", "CubeSoftware")">@Resources.Features</a></li>
                        </ul>

                    </li>
                    <li class="@Html.IsSelected(action: "CubePreTradeOverview;CubePreTradeFeatures;")">
                        <a href="@Url.Action("Security", "CubeSoftware")"><span class="nav-label">@Resources.CubePreTrade</span> <span class="fa arrow"></span> </a>
                        <ul class="nav nav-third-level">
                            <li class="@Html.IsSelected(action: "CubePreTradeOverview")"><a href="@Url.Action("CubePreTradeOverview", "CubeSoftware")">@Resources.Overview</a></li>
                            <li class="@Html.IsSelected(action: "CubePreTradeFeatures")"><a href="@Url.Action("CubePreTradeFeatures", "CubeSoftware")">@Resources.Features</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(action: "OptionCubeOverview;OptionCubeFeatures;")">
                        <a href="@Url.Action("OptionCubeOverview", "CubeSoftware")"><span class="nav-label">@Resources.OptionCube</span> <span class="fa arrow"></span> </a>
                        <ul class="nav nav-third-level">
                            <li class="@Html.IsSelected(action: "OptionCubeOverview")"><a href="@Url.Action("OptionCubeOverview", "CubeSoftware")">@Resources.Overview</a></li>
                            <li class="@Html.IsSelected(action: "OptionCubeFeatures")"><a href="@Url.Action("OptionCubeFeatures", "CubeSoftware")">@Resources.Features</a></li>
                        </ul>

                    </li>

                </ul>


            </li>

            <li class="@Html.IsSelected(controller: "CubeServices")">
                <a title="Cube Services" href="@Url.Action("Overview", "CubeServices")"><i><img class="side-nav-img" src="~/Images/CubeImages/cubo verde.png" /></i> <span class="nav-label">@Resources.CubeServices</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "CubeVolatilityOverview;CubeVolatilityFeatures;")">
                        <a href="@Url.Action("CubeVolatilityOverview", "CubeServices")"><span class="nav-label">@Resources.LabelForCubeVolatility</span> <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level ">
                            <li class="@Html.IsSelected(action: "CubeVolatilityOverview")"><a href="@Url.Action("CubeVolatilityOverview", "CubeServices")">@Resources.Overview</a></li>
                            <li class="@Html.IsSelected(action: "CubeVolatilityFeatures")"><a href="@Url.Action("CubeVolatilityFeatures", "CubeServices")">@Resources.Features</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(action: "CubeMarginsOverview;CubeMarginsFeatures;")">
                        <a href="@Url.Action("CubeMarginsOverview", "CubeServices")"><span class="nav-label">@Resources.LabelForCubeHMargins</span> <span class="fa arrow"></span> </a>
                        <ul class="nav nav-third-level ">
                            <li class="@Html.IsSelected(action: "CubeMarginsOverview")"><a href="@Url.Action("CubeMarginsOverview", "CubeServices")">@Resources.Overview</a></li>
                            <li class="@Html.IsSelected(action: "CubeMarginsFeatures")"><a href="@Url.Action("CubeMarginsFeatures", "CubeServices")">@Resources.Features</a></li>
                        </ul>

                    </li>
                    <li class="@Html.IsSelected(action: "CubeGreeksOverview;CubeGreeksFeatures;")">
                        <a href="@Url.Action("CubeGreeksOverview", "CubeServices")"><span class="nav-label">@Resources.LabelForCubeHGreeks</span> <span class="fa arrow"></span> </a>
                        <ul class="nav nav-third-level">
                            <li class="@Html.IsSelected(action: "CubeGreeksOverview")"><a href="@Url.Action("CubeGreeksOverview", "CubeServices")">@Resources.Overview</a></li>
                            <li class="@Html.IsSelected(action: "CubeGreeksFeatures")"><a href="@Url.Action("CubeGreeksFeatures", "CubeServices")">@Resources.Features</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsSelected(action: "CubeAPIMarginsOverview;CubeAPIMarginsFeatures;")">
                        <a href="@Url.Action("CubeAPIMarginsOverview", "CubeServices")"><span class="nav-label">@Resources.LabelForCubeAPIMargins</span> <span class="fa arrow"></span> </a>
                        <ul class="nav nav-third-level">
                            <li class="@Html.IsSelected(action: "CubeAPIMarginsOverview")"><a href="@Url.Action("CubeAPIMarginsOverview", "CubeServices")">@Resources.Overview</a></li>
                            <li class="@Html.IsSelected(action: "CubeAPIMarginsFeatures")"><a href="@Url.Action("CubeAPIMarginsFeatures", "CubeServices")">@Resources.Features</a></li>
                        </ul>
                    </li>
                </ul>

            </li>

            <li class="@Html.IsSelected(controller: "Consulting")">
                <a title="Consulting" href="#"><i><img class="side-nav-img" src="~/Images/CubeImages/Cubo arancio.png" /></i> <span class="nav-label">@Resources.Consulting</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "RiskManagementOutsourcing")"><a href="@Url.Action("RiskManagementOutsourcing", "Consulting")">@Resources.RiskManagementOutsourcing</a></li>
                    <li class="@Html.IsSelected(action: "RiskManagementConsulting")"><a href="@Url.Action("RiskManagementConsulting", "Consulting")">@Resources.RiskManagementConsulting</a></li>
                    <li class="@Html.IsSelected(action: "InvestmentAdvisory")"><a href="@Url.Action("InvestmentAdvisory", "Consulting")">@Resources.InvestmentAdvisory</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "Download")">
                <a title="Download" href="#"><i><img class="side-nav-img" src="~/Images/CubeImages/download_arrow_icon.png" /></i> <span class="nav-label">@Resources.Download</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "WhitePaper")"><a href="@Url.Action("WhitePaper", "Download")">@Resources.WhitePaper</a></li>
                    <li class="@Html.IsSelected(action: "CaseStudies")"><a href="@Url.Action("CaseStudies", "Download")">@Resources.CaseStudies</a></li>
                    <li class="@Html.IsSelected(action: "Howto")"><a href="@Url.Action("Howto", "Download")">@Resources.Howto</a></li>
                    <li class="@Html.IsSelected(action: "Download")"><a href="@Url.Action("Download", "Download")">@Resources.Download</a></li>
                    <li class="@Html.IsSelected(action: "News")"><a href="@Url.Action("index", "News")">@Resources.NewsLabel</a></li>
    </ul>
            </li>

        </ul>
    </div>
</nav>
