﻿@using CubeToolsPublicSite.Helpers;
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">David Williams</strong>
                            </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Home")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-th-large"></i> <span class="nav-label">@SharedResources.Resources.Home</span> <span class="fa arrow"></span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Company")">
                <a href="@Url.Action("Index", "Company")"><i class="fa fa-diamond"></i> <span class="nav-label">@SharedResources.Resources.Company</span> <span class="fa arrow"></span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Security")">
                <a href="@Url.Action("Index", "Security")"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">@SharedResources.Resources.Security</span> <span class="fa arrow"></span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Portfolio")">
                <a href="@Url.Action("Index", "Portfolio")"><i class="fa fa-envelope"></i> <span class="nav-label">@SharedResources.Resources.Portfolio</span> <span class="fa arrow"></span></a>
            </li>
            <li class="@Html.IsSelected(controller: "CubeFinance")">
                <a href="@Url.Action("Index", "CubeFinance")"><i class="fa fa-flask"></i> <span class="nav-label">@SharedResources.Resources.CubeFinanceTools</span> <span class="fa arrow"></span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Analysis")">
                <a href="@Url.Action("VolatilityAnalysis", "Analysis")"><i class="fa fa-th-large"></i> <span class="nav-label">@SharedResources.Resources.VolatilityAnalysis</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse in">
                    <li class="@Html.IsSelected(action: "VolatilityAnalysis")"><a href="@Url.Action("VolatilityAnalysis", "Analysis")">@SharedResources.Resources.VolatilityAnalysis</a></li>
                    <li class="@Html.IsSelected(action: "VaRAnalysis")"><a href="@Url.Action("VaRAnalysis", "Analysis")">@SharedResources.Resources.VaRAnalysis</a></li>
                    <li class="@Html.IsSelected(action: "SensitivityAnalysis")"><a href="@Url.Action("SensitivityAnalysis", "Analysis")">@SharedResources.Resources.SensitivityAnalysis</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Margins")">
                <a href="@Url.Action("Index", "Margins")"><i class="fa fa-files-o"></i> <span class="nav-label">@SharedResources.Resources.MarginsCalculations</span> <span class="fa arrow"></span></a>

                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Margins")">@SharedResources.Resources.MarginsCalculations</a></li>
                    <li class="@Html.IsSelected(action: "Market")"><a href="@Url.Action("Market", "Margins")">@SharedResources.Resources.Market</a></li>
                </ul>

            </li>
            <li id="customerType" class="@Html.IsSelected(controller: "CustomerType")">
                <a href="@Url.Action("Index", "CustomerType")"><i class="fa fa-desktop"></i> <span class="nav-label">@SharedResources.Resources.CustomerType</span> <span class="fa arrow"></span></a>
            </li>
           
        </ul>
    </div>
</nav>
