﻿@*<a  href="/Home/SetCulture?culture=en-us">English</a>|<a  href="/Home/SetCulture?culture=it-CH">Italian</a>*@
@model CubeToolsPublicSite.Models.Menus

<div class="dropdown profile-element profile-element-languageselector">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <span class="clear">
            <span class="text-muted text-xs block">Select Language <b class="caret"></b></span>
        </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">
        <li><a href="@Url.Content("~/Home/SetCulture?culture=en-us")"><img src="~/Images/countryflag/en.gif" /> English</a></li>
        <li><a href="@Url.Content("~/Home/SetCulture?culture=it-CH")" ><img src="~/Images/countryflag/it.gif" /> Italian</a></li>
        <li><a href="@Url.Content("~/Home/SetCulture?culture=fr-FR")"><img src="~/Images/countryflag/fr.gif" /> French</a></li>
	  </ul> </div>  @*<div class="dropdown div-login">
    <a class="page-scroll" href="@Url.Action("Index", "LoginCubeServices")" @Html.LabelFor(model => model.LoginCubeServices)</a>
</div>*@  