﻿<!-- Banner Slider Part -->
<section class="bnrcntnr">
    <!--<img src="images/slider_1.png" />-->
    <div class="bnrinrcntnr">
        <div class="tp-banner">
            <ul class="sliderCube">
                @if (ViewBag.Type == "Home")
					 {
                <!-- SLIDE 1  -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/Planisfero4.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat" class="SlideCube1">
                    <!-- LAYERS -->
                    <div class="tp-caption customin customout start crtv_agncy"
                         data-x="0"
                         data-hoffset="0"
                         data-y="200"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                        @Html.Raw(Resources.Description)
                    </div>

                </li>
					 <!-- SLIDE 2 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <img src="~/Images/Slider/CubeSoftware.png" alt="slidebg1" data-bgrepeat="no-repeat" class="SlideCube2">
                    <a href="@Url.Content("~/CubeSoftware")">
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">
                                        @Html.Raw(Resources.CubeSoftware)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    @*<a href="@Url.Content("~/CubeSoftware")"> </a>*@
                </li>
					 <!-- SLIDE 3 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <img src="~/Images/Slider/CubeServices.png" alt="slidebg1" data-bgrepeat="no-repeat" class="SlideCube2">
                    <a href="@Url.Content("~/CubeServices")">
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.CubeServices)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
					 	 <!-- SLIDE 4 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <img src="~/Images/Slider/CubeConsulting.png" alt="slidebg1" data-bgrepeat="no-repeat" class="SlideCube2">
                    <a href="@Url.Content("~/Consulting")">
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.Consulting)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>

					 }
                @if (ViewBag.Type == "CubeSoftware")
					 {
	            <!-- SLIDE 1 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeSoftware.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <a href="@Url.Content("~/CubeSoftware")">
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.CubeSoftware)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
					 <!-- SLIDE 2 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeSoftware_CubeRisk.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <a href="@Url.Content("~/CubeSoftware/CubeRiskManagementOverview")">
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.CubeRiskManagement) </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
					 <!-- SLIDE 3 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeSoftware_PortfolioCube.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <a href="@Url.Content("~/CubeSoftware/PortfolioCubeOverview")">
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.PortfolioCube) </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
					 	 <!-- SLIDE 4 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeSoftware_OptionCube.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <a href="@Url.Content("~/CubeSoftware/OptionCubeOverview")">
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.OptionCube)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
					 }

                @if (ViewBag.Type == "CubeServices")
					 {
	             <!-- SLIDE 1 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeServices.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                         data-x="0"
                         data-hoffset="0"
                         data-y="200"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                        <div class="box-sliderCaptionInn">
                            <div class="box-sliderCaptionPara">
                                <div class="box-sliderCaptionInnText">@Html.Raw(Resources.CubeServices)</div>
                            </div>
                        </div>
                    </div>
                </li>
					 <!-- SLIDE 2 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeServices_CubeVTY.PNG" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <a href="@Url.Content("~/CubeServices/CubeVolatilityOverview")">
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="200"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.CubeVolatility)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                @*<!-- SLIDE 3 -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="~/Images/Slider/CubeSoftware.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="185"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.CubeSoftware)</div>
                                </div>
                            </div>
                        </div>

                    </li>
                       <!-- SLIDE 4 -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="~/Images/Slider/CubeConsulting.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="185"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.Consulting)</div>
                                </div>
                            </div>
                        </div>

                    </li>*@
					 }

                @if (ViewBag.Type == "Consulting")
					 {
	             <!-- SLIDE 1 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeConsulting.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                         data-x="0"
                         data-hoffset="0"
                         data-y="200"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                        <div class="box-sliderCaptionInn">
                            <div class="box-sliderCaptionPara">
                                <div class="box-sliderCaptionInnText">@Html.Raw(Resources.Consulting)</div>
                            </div>
                        </div>
                    </div>
                </li>
                @*<!-- SLIDE 2 -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="~/Images/Slider/blueHeader.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="185"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                        </div>

                    </li>
                    <!-- SLIDE 3 -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="~/Images/Slider/CubeSoftware.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="185"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.CubeSoftware)</div>
                                </div>
                            </div>

                        </div>

                    </li>
                       <!-- SLIDE 4 -->
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                        <!-- MAIN IMAGE -->
                        <img src="~/Images/Slider/CubeServices.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                        <!-- LAYERS -->
                        <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                             data-x="0"
                             data-hoffset="0"
                             data-y="185"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="box-sliderCaptionInn">
                                <div class="box-sliderCaptionPara">
                                    <div class="box-sliderCaptionInnText">@Html.Raw(Resources.CubeServices)</div>
                                </div>
                            </div>
                        </div>

                    </li>*@
					 }

                @if (ViewBag.Type == "Download")
					 {
	             <!-- SLIDE 1 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/blueHeader.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                    <!-- LAYERS -->
                    <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                         data-x="0"
                         data-hoffset="0"
                         data-y="200"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">

                        @Html.Raw(Resources.DownloadLable)
                    </div>

                </li>
					 <!-- SLIDE 2 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeSoftware.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                    <!-- LAYERS -->
                    <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                         data-x="0"
                         data-hoffset="0"
                         data-y="200"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                    </div>

                </li>
					 <!-- SLIDE 3 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeServices.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                    <!-- LAYERS -->
                    <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                         data-x="0"
                         data-hoffset="0"
                         data-y="200"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                    </div>

                </li>
					 	 <!-- SLIDE 4 -->
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <!-- MAIN IMAGE -->
                    <img src="~/Images/Slider/CubeConsulting.png" alt="slidebg1" data-bgfit="cover" data-bgposition="top center" data-bgrepeat="no-repeat">

                    <!-- LAYERS -->
                    <div class="tp-caption customin customout start crtv_agncy box-sliderCaptionText"
                         data-x="0"
                         data-hoffset="0"
                         data-y="200"
                         data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                         data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                         data-speed="1000"
                         data-start="500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                    </div>

                </li>
					 }

            </ul>
        </div>
    </div>
</section>
