﻿@*@model CubeToolsPublicSite.Models.Menus*@

<nav class="navbar navbar-default " id="navMenu" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse" >        
            <a href="@Url.Action("Index","Home")" class="brand-logo stcky-hed"><img src="@Url.Content("~/Images/landing/cubepublic-logo.png")" alt="Cube Finance Logo" /></a>
            <ul class="nav navbar-nav" >
                <li id="Home" ><a href="@Url.Action("Index", "Home")">@Resources.Home</a></li>
                @*<li><a href="@Url.Action("Company", "About")">@Resources.AboutCubeFinance</a></li>*@
                <li id="About" class="root">

                    <a href="@Url.Action("Company", "About")">@Resources.AboutCubeFinance<b class="caret"></b></a>
                    <span class="dropdown-toggle hide-for-desktop" data-toggle="dropdown"><b class="caret"></b></span>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="@Url.Content("~/About/Company")">@Resources.Company</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/About/OurTeam")">@Resources.OurTeam</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/About/Clients")">@Resources.LabelForClients</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/About/Portfolio")">@Resources.Portfolio</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/About/Careers")">@Resources.Careers</a>

                        </li>
                        <li>
                            <a href="@Url.Content("~/About/CustomerSupport")">@Resources.LabelForCustomerSupport</a>
                        </li>
                        <li>
                            <a href="@Url.Content("~/About/Security")">@Resources.Security</a>
                        </li>
                    </ul>
                </li>

                <li id="CubeSoftware" class="root">
                    <a href="@Url.Action("Index", "CubeSoftware")" >@Resources.CubeSoftware<b class="caret"></b></a>

                    <span class="dropdown-toggle hide-for-desktop" data-toggle="dropdown" ><b class="caret"></b></span>

                    <ul class="dropdown-menu  three-column column-menu">
                        <li>
                            <a class="headColumn" href="javascript:void(0)">@Resources.CubeRiskManagement</a>
                            <ul>
                                <li><a href="@Url.Content("~/CubeSoftware/CubeRiskManagementOverview")">@Resources.Overview</a></li>
                                <li><a href="@Url.Content("~/CubeSoftware/CubeRiskManagementFeatures")">@Resources.Features</a></li>
                                <li><a href="@Url.Content("~/CubeSoftware/Coverage")">@Resources.Coverage</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="headColumn">@Resources.PortfolioCube</a>

                            <ul>
                                <li><a href="@Url.Content("~/CubeSoftware/PortfolioCubeOverview")">@Resources.Overview</a></li>
                                <li><a href="@Url.Content("~/CubeSoftware/PortfolioCubeFeatures")">@Resources.Features</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="headColumn">@Resources.CubePreTrade</a>
                            <ul>
                                <li><a href="@Url.Content("~/CubeSoftware/CubePreTradeOverview")">@Resources.Overview</a></li>
                                <li><a href="@Url.Content("~/CubeSoftware/CubePreTradeFeatures")">@Resources.Features</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="headColumn">@Resources.OptionCube</a>
                            <ul>
                                <li><a href="@Url.Content("~/CubeSoftware/OptionCubeOverview")">@Resources.Overview</a></li>
                                <li><a href="@Url.Content("~/CubeSoftware/OptionCubeFeatures")">@Resources.Features</a></li>
                            </ul>
                        </li>
                       
                    </ul>
                </li>

                <li id="CubeServices" class="root">

                    <a href="@Url.Action("Index", "CubeServices")">@Resources.CubeServices<b class="caret"></b></a>
                    <span class="dropdown-toggle hide-for-desktop" data-toggle="dropdown"><b class="caret"></b></span>
                    <ul class="dropdown-menu three-column column-menu">
                        <li>
                            <a class="headColumn" href="javascript:void(0)">@Resources.CubeVolatility</a>
                            <ul>
                                <li><a href="@Url.Action("CubeVolatilityOverview", "CubeServices")">@Resources.Overview</a></li>
                                <li><a href="@Url.Action("CubeVolatilityFeatures", "CubeServices")">@Resources.Features</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="headColumn" href="javascript:void(0)">@Resources.CubeHMargins</a>

                            <ul>
                                <li><a href="@Url.Action("CubeMarginsOverview", "CubeServices")">@Resources.Overview</a></li>
                                <li><a href="@Url.Action("CubeMarginsFeatures", "CubeServices")">@Resources.Features</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="headColumn" href="javascript:void(0)">@Resources.CubeHGreeks</a>
                            <ul>
                                <li><a href="@Url.Action("CubeGreeksOverview", "CubeServices")">@Resources.Overview</a></li>
                                <li><a href="@Url.Action("CubeGreeksFeatures", "CubeServices")">@Resources.Features</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="headColumn" href="javascript:void(0)">@Resources.CubeAPIMargins</a>
                            <ul>
                                <li><a href="@Url.Action("CubeAPIMarginsOverview", "CubeServices")">@Resources.Overview</a></li>
                                <li><a href="@Url.Action("CubeAPIMarginsFeatures", "CubeServices")">@Resources.Features</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li id="Consulting" class="root">

                    <a href="@Url.Action("Index", "Consulting")">@Resources.Consulting<b class="caret"></b></a>
                    <span class="dropdown-toggle hide-for-desktop" data-toggle="dropdown"><b class="caret"></b></span>
                    <ul class="dropdown-menu">
                        <li>
                            <a  href="@Url.Content("~/Consulting/RiskManagementOutsourcing")">@Resources.RiskManagementOutsourcing</a>
                        </li>
                        <li>
                            <a  href="@Url.Content("~/Consulting/RiskManagementConsulting")">@Resources.RiskManagementConsulting</a>

                        </li>
                        <li>
                            <a  href="@Url.Content("~/Consulting/InvestmentAdvisory")">@Resources.InvestmentAdvisory</a>
                        </li>
                    </ul>
                </li>
                <li id="Consulting" class="root">

                    <a href="@Url.Action("Index", "News")">@Resources.NewsLabel </a>
                    <span class="dropdown-toggle hide-for-desktop" data-toggle="dropdown"><b class="caret"></b></span>
                  
                </li>
                <li  class="root">
                    <a href="javascript:void(0)">@Resources.Language<b class="caret"></b></a>
                    <span class="dropdown-toggle hide-for-desktop" data-toggle="dropdown"><b class="caret"></b></span>
                    <ul class="dropdown-menu">
                        @*<li>
                            <a href="#">@Resources.VolatilityAnalysis</a>
                        </li>*@
                        <li><a href="@Url.Content("~/Home/SetCulture?culture=en-us")"><img src="~/Images/countryflag/gb.gif" /> English</a></li>
                        <li><a href="@Url.Content("~/Home/SetCulture?culture=it-CH")"><img src="~/Images/countryflag/it.gif" /> Italian</a></li>
                        <li><a href="@Url.Content("~/Home/SetCulture?culture=fr-FR")"><img src="~/Images/countryflag/fr.gif" /> French</a></li>
                    </ul>
                </li>
            </ul>            
            <div class="top-button stcky-hed">
                <a href="@Url.Action("ContactUs", "Home")"  class="btn btn-primary-topheader btn-lg"><strong>@Resources.LabelForDemo</strong>
                    @*<button type="button" id="btnDemo" class="btn btn-primary-topheader btn-lg"><strong>@Resources.LabelForDemo</strong></button>*@
                </a>                
                <a href="@Url.Content(System.Configuration.ConfigurationManager.AppSettings["PrivateLoginUrl"])" class="btn btn-primary-topheader btn-lg"><strong>@Resources.LabelForLogin</strong>
                    @*<button type="button" id="btnLogin" class="btn btn-primary-topheader btn-lg"><strong>@Resources.LabelForLogin</strong></button>*@
                </a>
            </div>
        </div>
    </div>
</nav>

