﻿@model CubeToolsPublicSite.Models.Menus
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" id="navMenuInner" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            @*<form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.SearchString, new { placeholder = Html.DisplayNameFor(n => n.SearchString), @class = "form-control", @name = "top-search", @id = "top-search" })
                </div>
            </form>*@
        </div>
        @*<div class="container">
            @Html.Partial("_SetLanguage")
        </div>*@
        <div id="navbar" class="navbar-collapse collapse">
            @*@Html.Partial("_SetLanguage")*@

            <ul class="nav navbar-nav">
                <li class="root">
                    <a href="#">@Resources.Language<b class="caret"></b></a>
                    <span class="dropdown-toggle hide-for-desktop" data-toggle="dropdown"><b class="caret"></b></span>
                    <ul class="dropdown-menu">
                        @*<li>
                                <a href="#">@Resources.VolatilityAnalysis</a>
                            </li>*@
                        <li><a href="@Url.Content("~/Home/SetCulture?culture=en-us")"><img src="~/Images/countryflag/gb.gif" /> English</a></li>
                        <li><a href="@Url.Content("~/Home/SetCulture?culture=it-CH")"><img src="~/Images/countryflag/it.gif" /> Italian</a></li>
                        <li><a href="@Url.Content("~/Home/SetCulture?culture=fr-FR")"><img src="~/Images/countryflag/fr.gif" /> French</a></li>

                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>
