﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Errore";
}
@if (((HttpException)Model.Exception).ErrorCode == -2147467259)
{
    <h1 class="text-danger">Errore.</h1>
    <h2 class="text-danger">Not support script tag</h2>
}


