﻿@*<div class="row">
    <div class="textwidget">
        <div class="box-main">
            <h2 class="slogan">@Html.Raw(Resources.HeaderBottomText)</h2>
        </div>
    </div>


</div>*@

<section id="content" class="fadeInDownBig animated">
    <div class="container">
        <h2 class="slogan">@Html.Raw(Resources.SloganText)<br></h2>
    </div>

</section>