﻿
@{
    ViewBag.Title = "MarginingOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>

            </li>
            <li>
                <a href="@Url.Action("Index", "CubeServices" )">@Resources.CubeServices</a>
            </li>
            <li >
                <a href="@Url.Action("CubeMarginsOverview", "CubeServices" )">@Html.Raw(Resources.LabelForCubeHMargins)</a>
            </li>
            <li class="active">
                <strong>@Html.Raw(Resources.Overview)</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-horizontal">
        <div class="ibox-title">
          <b>@Html.Raw(Resources.LabelForCubeHMargins)</b>  <a href="@Url.Action("CubeMarginsFeatures","CubeServices")" class="btn-float-right">@Html.Raw(Resources.SwitchFeatures)</a>
        </div>
        <div class="ibox-content">
            @Html.Raw(Resources.CubeHMarginsOverview)
        </div>
		  
        <div class="ibox-content green-bg">
            <section class="ibox-content-key-benefits">
                <div class="toggle-container-small clear">
                    <div class="ornge-top-head">
                        <div class="medium-3 columns">
                            <b>@Resources.KeyBenefitsLabel</b>
                        </div>
                    </div>
						  <hr/>
                    <div class="ornge-desc">
                        <div class="left-text">
                            @Html.Raw(Resources.CubeHMarginsBenefits1)
                        </div>

                        <div class="list-text">
                            <ul>
                                @Html.Raw(Resources.CubeHMarginsBenefits2)
                            </ul>

                            <p>&nbsp;</p>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

