﻿
@{
    ViewBag.Title = "VolatilityAnalysisFeatures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>

            </li>
            <li>
                <a href="@Url.Action("Index", "CubeServices" )">@Resources.CubeServices</a> 
            </li>
            <li >
                <a href="@Url.Action("CubeVolatilityOverview", "CubeServices" )">@Html.Raw(Resources.LabelForCubeVolatility)</a>
            </li>
            <li class="active">
                <strong>@Html.Raw(Resources.Features)</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-horizontal">
        <div class="ibox-title">
          <b>@Html.Raw(Resources.LabelForCubeVolatility)</b>  <a href="@Url.Action("CubeVolatilityOverview","CubeServices")" class="btn-float-right">@Html.Raw(Resources.SwitchOverview)</a>
        </div>
        <div class="ibox-content">          
            @Html.Raw(Resources.CubeVolatilityFeatures)
        </div>

    </div>
</div>

