﻿
@{
    ViewBag.Title = "VaRAnalysisOverview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(Resources.VaRAnalysis)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>

            </li>
            <li class="active">
                <strong>@Html.Raw(Resources.VaRAnalysis)</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-horizontal">

        <div class="ibox-content">
            @Html.Raw(Resources.VaRAnalysisInfo)
        </div>

    </div>
</div>

