﻿
@{
	ViewBag.Title = "DocumentList";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<CubeToolsPublicSite.Models.CubeDocument>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Uploaded Document</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="documentTable">
                        <thead>
                            <tr>

                                <th>
                                    @*@Html.DisplayNameFor(model => model.Description)*@
												@Html.Label(Resources.DescriptionLabel)
                                </th>
                                <th>
                                    @Html.Label(Resources.FileNameLabel)
                                </th>
                                <th>
                                    @*@Html.DisplayNameFor(model => model.TimeStamp)*@
                                    @Html.Label(Resources.CreatedDateLabel)
                                </th>
                                <th>@Html.Label(Resources.ActionLable)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var document in Model)
									 {
                            <tr id="@document.Id">
                                <td>
                                    @Html.DisplayFor(modelItem => document.Description)
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => Path.GetFileName(document.FilePath))*@
                                    @Html.Raw(Path.GetFileName(document.FilePath))
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => document.TimeStamp)
                                </td>
                                <td>
                                    @*@Html.ActionLink("Download", "Download", new { documentId = document.Id }, new { @class = "btn btn-white btn-sm glyphicon glyphicon-download-alt" })*@

                                    <a href="/Download/DownloadFile?documentId=@document.Id" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download-alt"></span> @Resources.DownloadLable</a>
                                </td>
                            </tr>
									 }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
		    @{string it = System.Threading.Thread.CurrentThread.CurrentCulture.EnglishName;
		    	 string lang = it.Substring(0, it.IndexOf(' '));
		    	 lang = lang + ".json";
		    }
    	 $(document).ready(function () {

    	 	 var oTable = $('#documentTable').dataTable({

    	 	 	 "aoColumnDefs": [
				 { 'bSortable': false, 'aTargets': [3] }
    	 	 	 ],
    	 	 	 "language": {
    	 	 	 	 "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/@lang"
    	 	 	 }

    	 	 });

    	 });

    </script>
}

