﻿@model IEnumerable<CubeToolsPublicSite.Models.CubeDocument>
@{
	ViewBag.Title = "WhitePaper";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(Resources.DownloadLable)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>
            </li>
            <li>
                <a>@Resources.DownloadLable</a>
            </li>
            <li class="active">
                <strong>@Resources.WhitePaper</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Resources.LabelForWhitePaperList</h5>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover" id="documentTable">
                        <thead>
                            <tr>

                                <th>
                                    @Html.Label(Resources.DescriptionLabel)
                                </th>
                                <th>
                                    @Html.Label(Resources.FileNameLabel)
                                </th>
                                <th>
                                    @Html.Label(Resources.CreatedDateLabel)
                                </th>
                                <th>@Html.Label(Resources.ActionLable)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
									 {
										  foreach (var document in Model)
										  {
                                <tr id="@document.Id">
                                    <td>
                                        @Html.DisplayFor(modelItem => document.Description)
                                    </td>
                                    <td>
                                        @*@Html.DisplayFor(modelItem => Path.GetFileName(document.FilePath))*@
                                        @Html.Raw(Path.GetFileName(document.FilePath))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => document.TimeStamp)
                                    </td>
                                    <td>

                                        <a href="@Url.Content("~/Download/DownloadFile?documentId="+@document.Id+"&actionName=WhitePaper")" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-download-alt"></span> @Resources.DownloadLable</a>
                                    </td>
                                </tr>
										  }
									 }
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")
    <script type="text/javascript">

		    @{string it = System.Threading.Thread.CurrentThread.CurrentCulture.EnglishName;
		    	 string lang = it.Substring(0, it.IndexOf(' '));
		    	 lang = lang + ".json";
		    }
    	 $(document).ready(function () {

    	 	 var oTable = $('#documentTable').dataTable({

    	 	 	 "aaSorting": [],
    	 	 	 "aoColumnDefs": [
				 { 'bSortable': false, 'aTargets': [3] }
    	 	 	 ], "language": {
    	 	 	 	 "url": "//cdn.datatables.net/plug-ins/1.10.10/i18n/@lang"
    	 	 	 }

    	 	 });
    	 });

    	 //function onSuccess(result) {
    	 //	 alert("sdf");
    	 //	 if (result.error) {
    	 //	 	 alert(result.error);
    	 //	 } else {
    	 //	 	 $('#vote_count').html(result.votes);
    	 //	 }
    	 //}

    	 @*function DownloadDocument(documentID) {
    	 	 $.ajax({
    	 	 	 type: "GET",
    	 	 	 url: '@Url.Content("~/Download/DownloadFile")',
    	 	 	 //contentType: "application/octet-stream",
    	 	 	 dataType: "json",
    	 	 	 data: { documentId: documentID },
    	 	 	 async: false,
    	 	 	 // cache: false,
    	 	 	 success: function (response) {

    	 	 	 	 if (!response || (response.Result && response.Result == "ERROR")) {
    	 	 	 	 	 new Notification(response.Message, response.Title, 'error');
    	 	 	 	 }

    	 	 	 }
    	 	 });


    	 }*@

    </script>
}

