﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(Resources.Portfolio)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>

            </li>
            <li class="active">
                <strong>@Html.Raw(Resources.Portfolio)</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-horizontal">
        <div class="ibox-content">
            @Html.Raw(Resources.PortfolioInfo)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <a href="http://www.controlfida.com/">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" style="height:54%;width:54%" src="~/Images/clientImages/Picture1.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <a href="http://www.sofiasgr.it/">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" style="height:70%;width:70%" src="~/Images/clientImages/Picture2.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <a href="http://www.aleph-sicav.com">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" style="height:17%;width:17%" src="~/Images/clientImages/Picture3.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <a href="https://www.webank.it/">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" style="height:54%;width:54%" src="~/Images/clientImages/Picture4.jpg">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <a href="http://www.unicasim.it">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" src="~/Images/clientImages/Picture5.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <a href="http://www.borsaitaliana.it/">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" style="height:47%;width:47%" src="~/Images/clientImages/Picture6.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox">
                <a href="http://www.casa4funds.com/">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" style="height:54%;width:54%" src="~/Images/clientImages/Picture7.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <a href="http://www.bancaakros.it/">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" style="height:54%;width:54%" src="~/Images/clientImages/Picture8.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ibox">
                <a href="http://www.bancaakros.it/">
                    <div class="contact-box">
                        <div class="text-center">
                            <img alt="image" style="height:36%;width:36%" src="~/Images/clientImages/Picture9.png">
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
