﻿<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-horizontal">

        <div class="ibox-content">
            @Html.Raw(SharedResources.Resources.CompanyInfo)
        </div>

    </div>
</div>
