﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table table-striped table-bordered table-hover dataTables-example">
    <thead>
        <tr>
            <th>@Resources.CustomerType</th>
            <th>@Resources.VolatilityAnalysis</th>
            <th>@Resources.MarginsCalculations</th>
            <th>@Resources.VaRAnalysis</th>
            <th>@Resources.SensitivityAnalysis</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Resources.AssetManagers</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
            <td></td>
            <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
        </tr>
        <tr>
            <td>@Resources.Brokers</td>
            <td></td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
            <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
        </tr>
        <tr class="gradeA">
            <td>@Resources.Bankers</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
            <td></td>
            <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
        </tr>
        <tr class="gradeA">
            <td>@Resources.CustodianAndAdministrators</td>
            <td></td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>

            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
            <td></td>
        </tr>
        <tr class="gradeA">
            <td>@Resources.HedgeFundsAndMultiManagers</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
            <td><img class="customertype" src="~/Images/check-icon.png" />**</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
        </tr>
        <tr class="gradeA">
            <td>@Resources.PensionFunds</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
            <td></td>
            <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
        </tr>
        <tr class="gradeA">
            <td>@Resources.PrivateWealth</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
            <td></td>
            <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
            <td><img class="customertype" src="~/Images/check-icon.png" /></td>
        </tr>
    </tbody>
</table>
<div class="wrapper wrapper-content animated fadeInRight" id="nestable">
    <ol class="dd-list">
        <li class="dd-item" data-id="1">
            <div class="dd-handle"><h4>@Resources.AssetManagers</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="2">
                    <div class="dd-handle">@Resources.AssetManagersDesc</div>
                </li>
            </ol>
        </li>
        <li class="dd-item" data-id="3">
            <div class="dd-handle"><h4>@Resources.Brokers</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="4">
                    <div class="dd-handle">@Resources.BrokersDesc</div>
                </li>
            </ol>
        </li>
        <li class="dd-item" data-id="5">
            <div class="dd-handle"><h4>@Resources.Bankers</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="6">
                    <div class="dd-handle">@Resources.BankersDesc</div>
                </li>
            </ol>
        </li>
        <li class="dd-item" data-id="7">
            <div class="dd-handle"><h4>@Resources.CustodianAndAdministrators</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="8">
                    <div class="dd-handle">@Resources.CustodiansAndAdministratorsDesc</div>
                </li>
            </ol>
        </li>
        <li class="dd-item" data-id="9">
            <div class="dd-handle"><h4>@Resources.HedgeFundsAndMultiManagers</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="10">
                    <div class="dd-handle">@Resources.HedgeFundsAndMultiManagersDesc</div>
                </li>
            </ol>
        </li>
        <li class="dd-item" data-id="11">
            <div class="dd-handle"><h4>@Resources.PensionFunds</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="12">
                    <div class="dd-handle">@Resources.PensionFundsDesc</div>
                </li>
            </ol>
        </li>
        <li class="dd-item" data-id="13">
            <div class="dd-handle"><h4>@Resources.PrivateWealth</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="14">
                    <div class="dd-handle">@Resources.PrivateWealthDesc</div>
                </li>
            </ol>
        </li>
    </ol>
</div>
@*<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>@Resources.CustomerType</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>@Resources.CustomerType</th>
                                <th>@Resources.VolatilityAnalysis</th>
                                <th>@Resources.MarginsCalculations</th>
                                <th>@Resources.VaRAnalysis</th>
                                <th>@Resources.SensitivityAnalysis</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (ViewBag.DisplayType == "AssetManagers")
                                {
                                    <tr>
                                        <td>@Resources.AssetManagers</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                        <td></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                    </tr>
                                }
                                else if (ViewBag.DisplayType == "Brokers")
                                {
                                    <tr>
                                        <td>@Resources.Brokers</td>
                                        <td></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                    </tr>
                                }
                                else if (ViewBag.DisplayType == "Bankers")
                                {
                                    <tr class="gradeA">
                                        <td>@Resources.Bankers</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                        <td></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                    </tr>
                                }
                                else if (ViewBag.DisplayType == "Custodians")
                                {
                                    <tr class="gradeA">
                                        <td>@Resources.CustodianAndAdministrators</td>
                                        <td></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>

                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                        <td></td>
                                    </tr>
                                }
                                else if (ViewBag.DisplayType == "HedgeFunds")
                                {
                                    <tr class="gradeA">
                                        <td>@Resources.HedgeFundsAndMultiManagers</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" />**</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                    </tr>
                                }
                                else if (ViewBag.DisplayType == "PensionFunds")
                                {
                                    <tr class="gradeA">
                                        <td>@Resources.PensionFunds</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                        <td></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                    </tr>
                                }
                                else if (ViewBag.DisplayType == "PrivateWealth")
                                {
                                    <tr class="gradeA">
                                        <td>@Resources.PrivateWealth</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                        <td></td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" />*</td>
                                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                    @Html.Partial("_Company")
              
            </div>
        </div>
    </div>
</div>*@
@section Scripts {
    @Scripts.Render("~/plugins/nestable")

    <script type="text/javascript">
        $(document).ready(function () {

            var updateOutput = function (e) {
                var list = e.length ? e : $(e.target),
                        output = list.data('output');
                if (window.JSON) {
                    output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
                } else {
                    output.val('JSON browser support required for this demo.');
                }
            };
           //  activate Nestable for list 1
            $('#nestable').nestable({
                group: 1
            }).on('change', updateOutput);

            // activate Nestable for list 2
            $('#nestable2').nestable({
                group: 1
            }).on('change', updateOutput);

         
        });
    </script>
}