﻿
@{
    ViewBag.Title = "PensionFunds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(SharedResources.Resources.CustomerType)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>

            </li>
            <li>
                <a href="@Url.Action("AssetManagers", "CustomerType")">@SharedResources.Resources.CustomerType</a>
            </li>
            <li class="active">
                <strong>@Html.Raw(SharedResources.Resources.PensionFunds)</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-horizontal">
        <div class="ibox-content">
            @Html.Partial("_CustomerTypeTable")
        </div>
        <div class="ibox-content">
            @Html.Raw(SharedResources.Resources.PensionFundsDesc)
        </div>
    </div>
</div>

