﻿@*<ol class="dd-list">
        <li class="dd-item" data-id="1">
            <div class="dd-handle-Coverage">
                <span><strong>APAC</strong></span>

                <span class="globe-east right clear"></span>
            </div>

            <ol class="dd-list">
                <li class="dd-item" data-id="2">
                    <div class="dd-handle">@Resources.AssetManagersDesc</div>
                </li>
            </ol>
        </li>
        <li class="dd-item" data-id="3">
            <div class="dd-handle-Coverage"><h4>EMEA</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="4">
                    <div class="dd-handle">@Resources.BrokersDesc</div>
                </li>
            </ol>
        </li>
        <li class="dd-item" data-id="5">
            <div class="dd-handle-Coverage"><h4>AMERICAS</h4></div>
            <ol class="dd-list">
                <li class="dd-item" data-id="6">
                    <div class="dd-handle">@Resources.BankersDesc</div>
                </li>
            </ol>
        </li>
    </ol>*@

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-default-Coverage">
        <div class="panel-heading" role="tab" id="headingThree">
				<input type="hidden" id="UrlGetMaretLocation" name="UrlGetMaretLocation" value="@Url.Content("~/CubeSoftware/AllMarketLocation")" />
            <h2><a href="#emea" class="toggle-big default-link toggle-big-opened" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree">EMEA</a></h2>
          
            <span class="globe-north right clear"></span>
        </div>
        <div id="emea" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <section id="features" class="container services wow fadeInUp animated">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.IDEM</a></h3>
                           
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.EUREX</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.BOURSEAFR</a></h3>
                          
                        </div>
                       
                    </div>
                    
                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                           <h3><a  href="javascript:void(0)">@Resources.CEE</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.ECC</a></h3>
                          
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.ICE</a></h3>
                           
                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.KDPW</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.KEL</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.LIFFE</a></h3>

                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a href="javascript:void(0)">@Resources.LME</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.MAT</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.SDCO</a></h3>

                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="panel panel-default-Coverage">
        <div class="panel-heading" role="tab" id="headingThree">
            <h2><a href="#americas" class="toggle-big default-link toggle-big-opened" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree">AMERICAS</a></h2>

            <span class="globe-west right clear"><!-- image --></span>
        </div>
        <div id="americas" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <section id="features" class="container services wow fadeInUp animated">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.CDC</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.CFE</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.CME</a></h3>

                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.ELX</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.MGE</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.NFX</a></h3>

                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.NYB</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.NYL</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.OCX</a></h3>

                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.WCE</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.XNY</a></h3>

                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="panel  panel-default-Coverage">
        <div class="panel-heading" role="tab" id="headingThree">
            <h2><a href="#apac" class="toggle-big default-link toggle-big-opened" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree">APAC</a></h2>
            <span class="globe-east right clear"></span>
        </div>
        <div id="apac" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                <section id="features" class="container services wow fadeInUp animated">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.BFX</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.BMDC</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.DGC</a></h3>

                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.DIFX</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.HKF</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.IFSG</a></h3>

                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.JCCH</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.JSC</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.MCX</a></h3>

                        </div>

                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.NSE</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.SMX</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.TAIFEX</a></h3>

                        </div>
                    </div>

                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.TAKAS</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.TIF</a></h3>

                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.ASXCL</a></h3>

                        </div>
                        
                    </div>


                    <div class="clear"></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.ASXCLF</a></h3>
                        </div>
                        <div class="col-sm-3">
                            <h3><a  href="javascript:void(0)">@Resources.NZX</a></h3>

                        </div>


                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


