﻿
@{
	ViewBag.Title = "Coverage";
	Layout = "~/Views/Shared/_Layout.cshtml";
	HttpCookie cul = Request.Cookies["_culture"];
}
@*<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>*@


@if (cul != null && cul.Value != null)

{
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=@cul.Value.ToString()"></script>
}
else
{
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&language=en-US"></script>
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(Resources.Coverage)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "CubeSoftware" )">@Resources.CubeSoftware</a>
            </li>
            <li>
                <a href="@Url.Action("CubeRiskManagementOverview", "CubeSoftware" )">@Resources.CubeRiskManagement</a>
            </li>
            <li class="active">
                <strong>@Html.Raw(Resources.Coverage)</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" id="nestable">
    <div class="col-md-12">
        <div class="ibox ">
            <div class="ibox-title">
                <strong>@Resources.CubeMarketLabel</strong>
            </div>
            <div class="ibox-content">
                <div id="map_canvas" style="height: 529px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="ibox ">
            <div class="ibox-title">
                <strong>@Resources.CubeMarketCovrageLabel</strong>
            </div>
            <div class="ibox-content">
                @Html.Partial("_MarketCoverage")
            </div>
        </div>
    </div>

</div>


@section scripts {
    @Scripts.Render("~/plugins/nestable")

    <script src="~/Scripts/googleMap/map.js"></script>
    <script type="text/javascript">

    	 $(document).ready(function () {
    	 	 var updateOutput = function (e) {
    	 	 	 var list = e.length ? e : $(e.target),
							output = list.data('output');
    	 	 	 if (window.JSON) {
    	 	 	 	 output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
    	 	 	 } else {
    	 	 	 	 output.val('JSON browser support required for this demo.');
    	 	 	 }
    	 	 };
    	 	 // activate Nestable for list 1
    	 	 $('#nestable').nestable({
    	 	 	 group: 1
    	 	 }).on('change', updateOutput);

    	 	 // activate Nestable for list 2
    	 	 $('#nestable2').nestable({
    	 	 	 group: 1
    	 	 }).on('change', updateOutput);
    	 });
    	 $(window).scroll(function () {
    	 	 var scroll = $(window).scrollTop();
    	 	 if (scroll >= 86) {
    	 	 	 $("#page-wrapper").css("height", $(document).height());
    	 	 } else {
    	 	 	 $("#page-wrapper").css("height", $(document).height());
    	 	 }
    	 });

    </script>

}





