﻿
.innerContextdata {
    list-style: outside none none;
    padding: 2px 5px;
    width: 100% !important;
    z-index: 200;
}

    .innerContextdata label {
        font-weight: normal;
        cursor: pointer;
    }

html body ul.list-volatilityCheck {
    width: 100% !important;
    max-width: 620px !important;
}

    html body ul.list-volatilityCheck > li {
        width: 100% !important;
        display: block !important;
    }

        html body ul.list-volatilityCheck > li ul {
            width: 100% !important;
            display: inline-block !important;
        }

            html body ul.list-volatilityCheck > li ul li {
                float: left;
                width: 120px;
            }

        html body ul.list-volatilityCheck > li:last-child {
            text-align: center;
        }

.userftr {
    position: fixed;
    text-align: center;
}

.lstftru li {
    float: left;
    list-style: none;
    margin: 0 1%;
}

ul.lstftru {
    padding: 0;
    font-weight: 800;
    width: 100%;
    display: inline-block;
    text-align: center;
}

    ul.lstftru li {
        display: inline-block;
        padding: 10px;
        float: none;
    }
/*ul.lstftru li a {
    color:darkgray;
    }*/
.ddllanguageselector {
    color: darkcyan;
    font-weight: 700;
}

.footercolor {
    color: gray;
}

.span-error {
    color: red;
}

.progress-sendmail {
    width: 31%;
    height: 37px;
}

.message-textarea {
    height: 50%;
}

.ucontents {
    line-height:25px;
}
.field-validation-error {
    color:#F00;
    font-weight:bold;
}



/**---------------- Css added by RavendrA  -----------------**/
.brand-logo.stcky-hed { float: left; margin: 8px 20px 8px 0; }

#navMenu .brand-logo.stcky-hed + .navbar-nav > li > a { padding: 28px 8px;}
.brand-logo.stcky-hed img { max-width: 55px; }
.top-button.stcky-hed { float: right; margin: 20px 0 0;}
.brand-logo.stcky-hed,
.top-button.stcky-hed { /*opacity: 0; visibility: hidden; backface-visibility: hidden;*/ }
/*.navbar-fixed-top .brand-logo.stcky-hed,
.navbar-fixed-top .top-button.stcky-hed { opacity: 1; visibility: visible; backface-visibility: visible; }*/

.brand-logo.stcky-hed,
.top-button.stcky-hed,
.navbar-fixed-top .brand-logo.stcky-hed,
.navbar-fixed-top .top-button.stcky-hed {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
        transition: all 300ms;
}
.landing-page .stcky-hed .btn-primary-topheader { padding: 7px 15px 10px; font-size: 13px;}
.prcnter {
	 text-align:center;
}


body.mini-navbar .navbar-default .nav-second-level li a span {
    display: block;
}
body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
 white-space: nowrap; padding-right: 20px}
body.mini-navbar .navbar-default .nav-second-level li a span.arrow {  position: absolute;  right: 8px;  top: 13px;}


.bnrinrcntnr { position: relative; background: #eee}
header.home_hdr { background: transparent; position: absolute; top: 0; left: 0; right: 0; z-index: 55}


.box-column{ display:inline-block; width:100%; text-align:center; }
.box-column .row .col-sm-3 { float:none; display:inline-block; }

.detail-cube h2 { margin-top:0px; }

.box-column2 {
	 max-width:877px; margin:0px auto; display:block;
}
.footer-right-side .box-main {
	 margin-top:0px;
}
ul.sliderCube li {
	 position:absolute;
}
.box-sliderCaption, .box-sliderCaptionText {
  bottom: 0;
  left: 12% !important;
  top:0 !important;
  margin: auto !important;
  opacity: 0.9;
  position: absolute;
  height:100%;
  width:21%;
  padding:0px !important;
}
.box-sliderCubeImg img {
	 width:100%;
}
.box-sliderCaptionText {
	 z-index:100;
	 height:65px;
	 overflow:hidden;
}
.box-sliderCaptionInnText {
	 font-size:1.65vw;
	 font-weight:bold;
	 color:#FFF;
	 text-transform:uppercase;
	 padding-top:7%;
}
.box-sliderCaptionInn {
	 height:100%;
	 display:table;
	 width:100%;
	 text-align:center;
}
.box-sliderCaptionPara {
	 display:table-cell;
	 vertical-align:middle;
}

.side-nav-img {
    height: 14px;
    width: 13px;
	 /*display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    transform: translate(0px, 0px);*/
}






