﻿
@{
	ViewBag.Title = "Clients";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(Resources.LabelForClients)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>
            </li>
            <li>
                <a>@Resources.AboutCubeFinance</a>
            </li>
            <li class="active">
                <strong>@Html.Raw(Resources.LabelForClients)</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="ibox-content">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th><strong>@Resources.CustomerType</strong></th>
                        <th><strong>@Resources.CubeRiskManagement</strong></th>
                        <th><strong>@Resources.PortfolioCube</strong></th>
                        <th><strong>@Resources.OptionCube</strong></th>
                        <th><strong>@Resources.CubePreTrade</strong></th>

                        <th><strong>@Resources.CubeVolatility</strong></th>
                        <th><strong>@Resources.CubeHMargins</strong></th>
                        <th><strong>@Resources.CubeAPIMargins</strong></th>
                        <th><strong>@Resources.CubeHGreeks</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>@Resources.AssetManagers</p></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                    </tr>
                    <tr>
                        <td><p>@Resources.Brokers</p></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                    </tr>
                    <tr class="gradeA">
                        <td><p>@Resources.Bankers</p></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                    </tr>
                    <tr class="gradeA">
                        <td><p>@Resources.CustodianAndAdministrators</p></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                    </tr>
                    <tr class="gradeA">
                        <td><p>@Resources.HedgeFundsAndMultiManagers</p></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" />**</td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" />**</td>
                        <td><img class="customertype" src="~/Images/check-icon.png" />**</td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                    </tr>
                    <tr class="gradeA">
                        <td><p>@Resources.PensionFunds</p></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                    </tr>
                    <tr class="gradeA">
                        <td><p>@Resources.PrivateWealth</p></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                        <td></td>
                        <td></td>
                        <td><img class="customertype" src="~/Images/check-icon.png" /></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="ibox-content">
            <div class="dd" id="nestable">
                <ol class="dd-list">
                    <li class="dd-item" data-id="1">
                        <div class="dd-handle"><strong>@Resources.AssetManagers</strong></div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle"><p>@Resources.AssetManagersDesc</p</div>
                            </li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="3">
                        <div class="dd-handle"><strong>@Resources.Brokers</strong></div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="4">
                                <div class="dd-handle"><p>@Resources.BrokersDesc</p></div>
                            </li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="5">
                        <div class="dd-handle"><strong>@Resources.Bankers</strong></div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="6">
                                <div class="dd-handle"><p>@Resources.BankersDesc</p></div>
                            </li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="7">
                        <div class="dd-handle"><strong>@Resources.CustodianAndAdministrators</strong></div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="8">
                                <div class="dd-handle"><p>@Html.Raw(Resources.CustodiansAndAdministratorsDesc)</p></div>
                            </li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="9">
                        <div class="dd-handle"><strong> @Resources.HedgeFundsAndMultiManagers</strong></div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="10">
                                <div class="dd-handle"><p>@Html.Raw(Resources.HedgeFundsAndMultiManagersDesc)</p></div>
                            </li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="11">
                        <div class="dd-handle"><strong>@Resources.PensionFunds</strong></div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="12">
                                <div class="dd-handle"><p>@Resources.PensionFundsDesc</p></div>
                            </li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="13">
                        <div class="dd-handle"><strong>@Resources.PrivateWealth</strong></div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="14">
                                <div class="dd-handle"><p>@Resources.PrivateWealthDesc</p></div>
                            </li>
                        </ol>
                    </li>
                </ol>
            </div>
        </div>
        <div class="ibox-content">
           <p>@Html.Raw(Resources.ClientsPageBottomText)</p>
        </div>

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/plugins/nestable")
    <script type="text/javascript">
    	 $(document).ready(function () {
    	 	 $("#nestable").nestable({
    	 	 	 maxDepth: 10,
    	 	 	 collapsedClass: 'dd-collapsed',
    	 	 }).nestable('collapseAll');
    	 	 //  activate Nestable for list 1
    	 	 $('#nestable').nestable({
    	 	 	 group: 1
    	 	 });
    	 });
    </script>
}

