﻿
@{
	ViewBag.Title = "Company";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(Resources.Company)</h2>
        <ol class="breadcrumb">

            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>
            </li>
            <li>
                <a>@Resources.AboutCubeFinance</a>
            </li>
            <li class="active">
                <strong>@Html.Raw(Resources.Company)</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-horizontal">

        <div class="ibox-content">
            @Html.Raw(Resources.CompanyInfo)
        </div>

    </div>
</div>
<script type="text/javascript">
	 $(function () {
	 	 ActiveMenu("#About");
	 });
</script>
