﻿
@{
	ViewBag.Title = "Portfolio";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(SharedResources.Resources.Portfolio)</h2>
        <ol class="breadcrumb">

            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>
            </li>
            <li>
                <a>@Resources.AboutCubeFinance</a>
            </li>
            <li class="active">
                <strong>@Html.Raw(Resources.Portfolio)</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    @Html.Raw(Resources.ClientsHeader)
                </div>
                <div class="ibox-content" style="display:block">
                    <div class="form-horizontal">
                        <div class=" row">
                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="http://www.bancaakros.it/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture1.png" style="height:54%;width:54%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="http://www.borsaitaliana.it/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture2.png" style="height:70%;width:70%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="http://www.bpm.it/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture3.png" style="height:17%;width:17%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="https://www.unicasim.it/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture4.jpg" style="height:54%;width:54%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="http://www.aleph-sicav.com/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture5.png" style="height:54%;width:54%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="http://www.controlfida.com/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture6.png" style="height:47%;width:47%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="http://www.sofiasgr.it/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture7.png" style="height:54%;width:54%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="http://www.casa4funds.com/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture8.png" style="height:54%;width:54%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="ibox">
                                    <a target="_blank" href="http://www.nuoviinvestimenti.it/">
                                        <div class="contact-box">
                                            <div class="text-center">
                                                <img src="../Images/clientImages/Picture9.png" style="height:36%;width:36%" alt="image">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




