﻿@model CubeToolsPublicSite.Models.ContactusModel
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>@Resources.ContactUs</h1>

                <h2>@Resources.ContactDesc</h2>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="float-e-margins col-md-12">
                <div class="section9-bottom">
                    <form role="form" id="form">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Resources.Name })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Surname)
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = Resources.PlaceHolderSurname })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CompanyName)
                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = Resources.PlaceHolderCompany })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.IssuerType)
                                @Html.DropDownList("IssuerType", (IEnumerable<SelectListItem>)Model.IssuerTypeList, Resources.SelectMessageForIssuer, new { @class = "form-control", @id = "ddlIssuerType" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resources.PlaceHolderEmail })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CompanyType)
                                @Html.DropDownList("CompanyType", (IEnumerable<SelectListItem>)Model.CompanyTypeList, Resources.SelectMessageForCompany, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Message)
                                @Html.TextAreaFor(m => m.Message,5,40, new { @class = "form-control", placeholder = Resources.PlaceHolderMessage })
                            </div>
                            <button type="button" id="btnSendMail" class="btn btn-primary btn-lg"><strong>@Resources.SendMailButton</strong></button>
                            <div class="progress progress-striped progress-sendmail  active" >
                                <div class="btn btn-primary btn-lg progress-bar  progress-bar-danger " id="divProgress" role="progressbar" aria-valuenow="0" aria-valuemin="75" aria-valuemax="100" style="width: 75%">
                                    <span><strong>@Resources.SendMailButton</strong></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 footer-right">
                <div class="box-main">
                    <h2>@Resources.GetInTouch</h2>
                    <p><i class="fa  fa-envelope"></i>@Resources.CompanyEmail</p>
                    <p> <i class="fa fa-phone-square"></i>@Resources.CompanyPhone</p>
                    <p> <i class="fa fa-fax"></i>@Resources.CompanyFax</p>
                    <p> <i class="fa fa-globe"></i>@Resources.CompanyWebsite</p>
                </div>
                <div class="box-main">
                    <h2>@Resources.OfficeDetails</h2>
                    <p><i class="fa  fa-map-marker"></i>@Resources.CompanyNameInfo</p>
                    <p> <i class="fa  fa-home"></i>@Html.Raw(Resources.CompanyAddressInfo)</p>
                </div>
                <div class="box-main">
                    <h2>@Resources.StayConnected</h2>
                    <ul class="list-inline social-icon">
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/SiteScripts/contactusValidation.js"></script>
<script src="~/Scripts/SiteScripts/contactus.js"></script>

