﻿@model CubeToolsPublicSite.Models.ContactusModel
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_ContactPartial.cshtml";
}

<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>@Resources.ContactUs</h1>

                <h2>@Resources.ContactDesc</h2>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class=" float-e-margins col-md-6">
                <div class="section9-bottom">
                    @*<form role="form" id="form">*@
                    @using (Html.BeginForm("ContactUs", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmContactus" }))
                    {

                        @Html.AntiForgeryToken()
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = Resources.Name })
                                @Html.ValidationMessageFor(m => m.Name)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Surname)
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = Resources.PlaceHolderSurname })
                                @Html.ValidationMessageFor(m => m.Surname)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CompanyName)
                                @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", placeholder = Resources.PlaceHolderCompany })
                                @Html.ValidationMessageFor(m => m.CompanyName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.IssuerType)
                                @Html.DropDownList("IssuerType", (IEnumerable<SelectListItem>)Model.IssuerTypeList, Resources.SelectMessageForIssuer, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.IssuerType)

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Resources.PlaceHolderEmail })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.CompanyType)
                                @Html.DropDownList("CompanyType", (IEnumerable<SelectListItem>)Model.CompanyTypeList, Resources.SelectMessageForCompany, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CompanyType)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Mobile)
                                @Html.TextBoxFor(m => m.Mobile, new { maxlength = 16, @class = "form-control", placeholder = Resources.PlaceHolderPhoneNumber, onkeypress = "return isNumberKey(event)" })
                                @Html.ValidationMessageFor(m => m.Mobile)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Message)
                                @Html.TextAreaFor(m => m.Message, 5, 40, new { @class = "form-control", placeholder = Resources.PlaceHolderMessage })
                                @Html.ValidationMessageFor(m => m.Message)
                            </div>
                            <button type="button" id="btnSendMail" class="btn btn-primary btn-lg"><strong>@Resources.SendMailButton</strong></button>
                            <div class="progress progress-striped progress-sendmail  active">
                                <div class="btn btn-primary btn-lg progress-bar  progress-bar-danger " id="divProgress" role="progressbar" aria-valuenow="0" aria-valuemin="75" aria-valuemax="100" style="width: 75%">
                                    <span><strong>@Resources.SendMailButton</strong></span>
                                </div>
                            </div>
                        </div>
                        @*</form>*@
                    }
                </div>
            </div>
            <div class="col-md-6 footer-right">
                <div class="box-main">
                    <h2>@Resources.GetInTouch</h2>
                    <p><i class="fa  fa-envelope"></i><a href="mailto:info@cubefinance.com">@Resources.CompanyEmail</a></p>
                    <p> <i class="fa fa-phone-square"></i>@Resources.CompanyPhone</p>
                    <p> <i class="fa fa-fax"></i>@Resources.CompanyFax</p>
                    <p> <i class="fa fa-globe"></i>@Resources.CompanyWebsite</p>
                </div>
                <div class="box-main">
                    <h2>@Resources.OfficeDetails</h2>
                    <p><i class="fa  fa-map-marker"></i>@Resources.CompanyNameInfo</p>
                    <p> <i class="fa  fa-home"></i>@Html.Raw(Resources.CompanyAddressInfo)</p>
                </div>
                <div class="box-main">
                    <h2>@Resources.StayConnected</h2>
                    <ul class="list-inline social-icon">
                        @*<li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>*@
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/plugins/sweetalert/sweetalert.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

@*<script src="~/Scripts/SiteScripts/contactusValidation.js"></script>*@
<script src="~/Scripts/SiteScripts/contactus.js"></script>

<script type="text/javascript">

    jQuery(function () {

        $("#Mobile").mask("+11 999 999 9999");

    });
    //$("#Mobile").blur(function () {

    //}).dblclick(function () {
    //    $(this).unmask();
    //});
    $("#divProgress").css('display', 'none');
    $("#btnSendMail").click(function () {
        // $("#hdnMobile").val($('#Mobile').unmask());
        //  $("#Mobile").val($("#Mobile").unmask());
      //  $(this).unmask();
        $("#Mobile").unmask();
        TogglePreloader(btnSendMail);
        $("#frmContactus").submit();
    });

    //$(window).scroll(function () {
    //    var scroll = $(window).scrollTop();
    //    if (scroll >= 86) {
    //        $("#navMenu").addClass("navbar-fixed-top navbar-scroll");
    //    } else {
    //        $("#navMenu").removeClass("navbar-fixed-top navbar-scroll");
    //    }
    //});

    if ('@ViewBag.Status' != "") {

        $.ajax({
            type: "POST",
            url: '/Home/AlertConfiguration',
            data: { status: '@ViewBag.Status' },
            success: function (result) {
                if (result.statusTypeValue == 'true') {
                    // Display a success toast, with a title
                    swal({
                        title: result.titleValue,
                        text: result.textValue,
                        type: "success"
                    });
                    //}, function () {
                    //    $('body,html').animate({
                    //        scrollTop: 0
                    //    }, 800);
                    //});
                    TogglePreloader(btnSendMail);
                    RemoveUserEntry();
                }
                else if (result.statusTypeValue == 'false') {
                    swal({
                        title: result.titleValue,
                        text: result.textValue,
                        type: "warning"
                    });
                }
                else if (result.statusTypeValue == 'error') {
                    swal({
                        title: result.titleValue,
                        text: result.textValue,
                        type: "error"
                    });
                }
                TogglePreloader(btnSendMail);
            }
        });

    }
	
    //function RemoveUserEntry() {
    //    $("#Name").val('');
    //    $("#Surname").val('');
    //    $("#CompanyName").val('');
    //    $("#ddlIssuerType").val('');
    //    $("#Email").val('');
    //    $("#ddlCompanyType").val('');
    //    $("#Message").val('');
    //    $("#Mobile").val('');
    //}
    //function TogglePreloader(btnInactive) {
    //    if (!$(btnInactive).attr('disabled')) {
    //        //$(btn).css('background-position', 'center');
    //        //$(btn).css('background-image', 'url(../Images/landing/ajax-loader.gif)')
    //        //$(btn).css('background-repeat', 'no-repeat')
    //        //$(btn).css('background-size', '25%')
    //        $(btnInactive).attr('disabled', true);
    //        $(btnInactive).css('display', 'none');
    //        $("#divProgress").attr('disabled', true);
    //        $("#divProgress").css('display', '');
    //    }
    //    else {
    //        $(btnInactive).css('display', '');
    //        $(btnInactive).attr('disabled', false);
    //        $("#divProgress").prop('disabled', true);
    //        $("#divProgress").css('display', 'none');
    //    }
    //}
    //function isNumberKey(evt) {
    //    var charCode = (evt.which) ? evt.which : event.keyCode;
    //    if (charCode != 46 && charCode > 31
    //      && (charCode < 48 || charCode > 57))
    //        return false;
    //}
</script>
