﻿@using CubeToolsPublicSite.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cubefinance Support</title>
</head>
<body>
    #
    @*@{
        ContactU contactusModel = (ContactU)@Model;
    }
    <p>
        <strong> Dear @contactusModel.Name,</strong><br />
    </p>
    <div>

        @{
            <table cellpadding="2" cellspacing="5">
                <tr>
                    <td colspan="2">
                        <b> Thank you for contacting us.</b>
                    </td>
                </tr>
            </table>
            <br />
            <p> You are very important to us, all information received will always remain confidential. We will contact you as soon as we review your message.</p>
            <br />
        }
        <br />
        <p>
            <br />
            Support,
            Cube Finance SA,
        </p>
    </div>*@
</body>
</html>


