﻿@using CubeToolsPublicSite.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Enquiry</title>
</head>
<body>
    @{
        ContactU contactusModel = (ContactU)@Model;
    }
    <p>
        <strong>  Hello Team,</strong><br />
    </p>
    <div>

        @{
            <table cellpadding="2" cellspacing="5">
                <tr>
                    <td colspan="2">
                        Please see tha details of our customer <b>@contactusModel.Name</b> have the issue
                    </td>
                </tr>
            </table>
            <br />
            <table style="width:800px;" border="1" cellpadding="2" cellspacing="2">
                <thead>
                    <tr style="background-color:gray; color:white; text-align:center">
                        Customer Details
                    </tr>
                    
                    <tr>
                        <td>
                            Customer Name
                        </td>
                        <td>
                            @contactusModel.Name
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            @contactusModel.Email
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Issuer Type
                        </td>
                        <td>
                            @contactusModel.IssuerType
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Company Type
                        </td>
                        <td>
                            @contactusModel.CompanyType
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Message
                        </td>
                        <td>
                            @contactusModel.Message
                        </td>
                    </tr>

                </thead>
            </table>

            <br />
        }
        <br />
        <p>
            <br />
            Support,
            Cube Finance SA,
        </p>
    </div>
</body>
</html>

