﻿
@{
    ViewBag.Title = "LegalNotice";
    Layout = "~/Views/Shared/_LandingPartial.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@Html.Raw(Resources.LegalNoticeLabel)</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home" )">@Resources.Home</a>
            </li>

            <li class="active">
                <strong>@Html.Raw(Resources.LegalNoticeLabel)</strong>
            </li>
        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="form-horizontal">


        @Html.Raw(Resources.LegalNoticeDesc)

    </div>
</div>

